@model dynamic

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="article">
    <div class="title">
        <h2>@Html.ActionLink("Opps, where are you trying to go?", "Home", "Article")</h2>
    </div>
    <div class="body">
        <p>Were you going somewhere or did I accidently send you here? Maybe head back @Html.ActionLink("Home", "Home", "Article") until I work out what went wrong :)</p>
    </div>
</div>
