@model Blog.Presenters.MultipleArticleIndexPresenter

<div class="other-articles">
    <div class="title">
        <h3>@Model.Title</h3>
    </div>
    <ul class="indexes">
        @foreach(var articleIndex in Model.Articles)
        {
            <li>
                <div class="index">
                    <div class="right-arrow">
                        &raquo;
                    </div>
                    <div class="date">
                        @articleIndex.FormattedDate
                    </div>    
                    <div class="title">
                        @Html.ActionLink(articleIndex.Title, "Single", new { slugTitle = articleIndex.SlugTitle })
                    </div>    
                </div>
            </li>
        }
    </ul>
</div>