@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="article">
    <div class="title">
        <h2>Some Awesome Article that isss</h2>
        <div class="date">
            7th of July, 2012
        </div>
    </div>
    <div class="body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus tortor ut mi cursus condimentum. Etiam vitae rutrum dolor. Duis neque orci, imperdiet a ultricies eu, rutrum vel nibh. Duis lobortis leo at mi scelerisque eget vehicula diam imperdiet. Maecenas vitae consectetur nisi. Duis pulvinar quam at dolor mattis dictum. Aenean nec nisl risus. Cras porta magna eget lectus aliquam tempor. Vivamus rhoncus vulputate urna eget malesuada. Pellentesque facilisis, purus vel rutrum sagittis, nibh diam porta nisi, non scelerisque libero odio ac ipsum. Aliquam sit amet elit in risus semper rutrum nec et libero. Fusce eleifend elementum tempus. Fusce at varius mauris.</p>
        <p>Sed vel facilisis justo. Cras egestas tincidunt nulla, non ornare nulla adipiscing quis. Ut lobortis dignissim lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Proin sit amet tellus non justo consequat interdum. Nullam a felis diam. Donec luctus mi pharetra lectus eleifend vitae dignissim nisi tincidunt. Curabitur nec molestie sem. Phasellus rutrum auctor risus, id hendrerit orci mollis et. Nunc tincidunt porttitor dui, vel hendrerit ligula volutpat non.</p>
        <p>Aliquam ac magna eget sapien rutrum facilisis vitae nec nulla. Donec nec lectus diam. Vestibulum pulvinar euismod sapien, id tempor ante fermentum eget. Quisque vitae lorem velit. Etiam interdum vulputate dui, ut auctor mi blandit id. Fusce vitae lorem quis enim placerat vehicula vitae sit amet eros. Aenean eu risus libero.</p>
    </div>
</div>