.container {
	min-width:252px;
}
.header .title {
	padding-top:20px;
}
.header .title h1 {
	font-size:50pt;
}
.header .title .link-area {
	position:relative;
	margin-top:40px;
}
.content .article .title h2 {
	display:inline;
}
.content .article .title .date {
    display: block;
	position:relative;
}
p {
	font-size:90%;
}